.DS_Store
Thumbs.db
.history/
.idea/
*.iml

*.orig
*.rej

*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
debug.log
*.tmp
*.temp


/bin/
/obj/
/out/
/TestResults/
/coverage/
/.vs/

packages/

.user
.suo
.userosscache
.sln.docstates

/appsettings.*.local.json
/secrets.json

docker/*.env
docker/.env
.docker/
*.tar

*.swp
*.swo
*.tmp
*.bak
*.cache
/EmployeeManager.Infrastructure/bin
/EmployeeManager.Infrastructure/obj
/EmployeeManager.Tests/bin/Debug
/EmployeeManager.Tests/obj
/EmployeeManager.Api/bin/Debug
/EmployeeManager.Api/obj
/EmployeeManager.Api/Properties
/EmployeeManager.Application/bin
/EmployeeManager.Application/obj
/EmployeeManager.Domain/bin
/EmployeeManager.Domain/obj
